# ignore secrets, virtual environments and typical python compilation artifacts

# ignore basic python artifacts
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Python virtual environment
env/
venv/
.env/
.venv/

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.so
*.pyd
*.dll
*.dylib